@charset "utf-8";
@import url(default.css);

/**
 * Loggix CSS for iPhone
 *
 *@since   9.3.8
 *@version 9.5.13
 */

html {
    -webkit-auto-text-size-adjust: 100%; 
}

a {
    -webkit-tap-highlight-color: rgba(00,33,99,0.60); 
}

#body {
    text-align:left;
    font-size: 1em;
}
#wrapper {
    min-width: 640px;
    margin: 0 auto;
    padding: 0;
}

#content {
    min-width: 640px;
    max-width: 1000px;
    float:none;
    margin: 80px 0;
    padding: 0;
    width: 100%;
}

#navigation {
    float:none;
    width: 100%;
}
