@charset "utf-8";

@import url(default.css);

/**
 * Style Name : Elastic Tango for IE (Loggix Default CSS)
 * Author     : Loggix Project
 * Version    : 9.3.16
 */

/* Emulate max-width for IE 6 */
* html div#wrapper {
    width:expression(document.body.clientWidth > 1024? "1024px" : "auto");
}

/* for IE bugs */
#content fieldset {
    position:relative;
    margin:2em 0.5em;
    padding-top:2em;
    border:none;
} #content legend {
    position:absolute;
    top:-1.2em;
}
